<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <i class="fa-brands fa-square-facebook"></i>
      <i class="fa-brands fa-square-instagram"></i>
      <a href="https://www.linkedin.com/in/darshankumarbhandari11" target="_blank">
        <i class="fa-brands fa-linkedin"></i>
      </a>
      
    </div>
    <div class="f-info-brand">
      <a href="/home">&copy; RentSphere Pvt. Ltd.</a>
    </div>
    <div class="f-info-links">
      <a href="/privacy" class="me-3">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
